Q-1 Create a list call years_list, starting with the year of your birth,  and each year thereafter until the year
 of your fourth birthday. For example, if you werw born in 1980, the list would be years_list = [1980,1981,1982,1983,1984,1985]

In [9]:
years_list = [i for i in range (1994,1994+5)]
print(years_list )

[1994, 1995, 1996, 1997, 1998]

Q -2 In which years in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [13]:
years_list[0]

1994

 Q - 3 In this yers_list, which year were you oldest?

In [16]:
max(years_list)

1998

Q -4 Make a list called things with these three strings as element:  &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [18]:
things = ['mozzarella', 'cinderella', 'salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

Q -5 Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [19]:
for i in things:
    print(i.capitalize())
things

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

Q -6 Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [20]:
surprise_list = ['Guoucho','Chico','Harpo']
surprise_list

['Guoucho', 'Chico', 'Harpo']

Q -7 Lowercase the last elemnt of the surprise list, reverse it, and then capitalize it.

In [23]:
surprise_list[-1].lower()

'harpo'

Q -8 Make an English to French dictionary called e2f and print it. Here are ypour stater wprds: dog is chien, cat is chat,
    and walrus is morse

In [27]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}

Q -9 Write the French word for walrus in your three word dictionary e2f.

In [28]:
e2f['walrus']

'morse'

Q -10 Mkae a French to english dictionary called f2e form e2f. Use the item method.

In [29]:
f2e = dict((key,value) for (value,key) in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q -11 Print the english  virson of the french word chien using f2e

In [30]:
f2e['chien']

'dog'

Q -12 Make and print a set of english words form  the keys in e2f.

In [32]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

Q -13 Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [35]:
life = {'animals':{'cat':['henri','Grumpy','Lucy'],'octopi':'','emus':''},'panlts':'','other':''}
life

{'animals': {'cat': ['henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'panlts': '',
 'other': ''}

Q -14 Print the top-level Keys of life.

In [36]:
life.keys()

dict_keys(['animals', 'panlts', 'other'])

Q -15 Print keys of life animals.

In [37]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

Q -16 Print the values of 'animals''cat'

In [38]:
life['animals']['cat']

['henri', 'Grumpy', 'Lucy']